{% extends "base.html" %}

{% block content %}
  <div class="container">
      <p>This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>
      <div>
      <h1>Analyse an image</h1>
      <form action="/analyse-image" method="POST" enctype="multipart/form-data">
          <div class="form-group">
          <label>Select image</label>
          <div class="custom-file">
              <input type="FILE" class="custom-file-input" name="image">
              <label class="custom-file-label" for="image">Select image...</label>
          </div>
          </div>
          <button type="SUBMIT" class="btn btn-primary">Upload image</button>
      </form>
      {% if img_path %}
        <h2>Results</h2>
        <img src={{ img_path }} alt="Aligned image"/>
      {% endif %}
      </div>
  </div>
{% endblock %}